body {
    background-color: #044B7F;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-rows: 60px 92vh;
}

h1 {
    color: white;
}

#titulo {
    display: flex;
    justify-content: center;
}

#pagina {
    display: grid;
    grid-template-columns:1% 15% 4% 60% 4% 15%;
    grid-template-rows: 100%;
    position: relative;
}

#contenedor-izquierdo {
    grid-column: 2; 
}

/* #placita {
    grid-column: 4;
} */

#contenedor-derecho {
    grid-column: 6; 
}

.contenedor {
    background-color: #A17C6B;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-componente {
    height: 10.5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.componente {
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
    position: absolute;
}

.cielo {
    height: 100%;
    width: 75%;
    background:#BDE6F1;
    border-radius: 1rem;
    position: absolute;
    /* opacity: 0.7; */
    z-index: -1;
    grid-column: 4;
}

.suelo {
    height: 45%;
    width: 100%;
    background: #C9E4C5 ;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 0.5%;
    opacity: 0.7;
    z-index: -1;
}

